.cuerpo{
	width: 97% !important;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5%;
}
.linea{
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #FF495F;
	border-radius: 300px/10px;
	height: 0px;
	text-align: center;
}

#bares{
	text-align: center;
}

#tren{
	text-align: center;	
}

#fuera{
background: rgba(0,0,0,1);
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 91%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(91%, rgba(0,0,0,1)), color-stop(97%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 91%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 91%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 91%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 91%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=0 );
}

#dentro{
	background-color: #FFF;
}